<%- layout( 'layouts/boilerplate' ) %>
<div class="d-flex justify-content-center align-items center flex-grow-1">
  <% if( watchbags.length == 0 ) {%>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img src="/dead.png" width="100px" alt="" />
    <br />
    <h1>No Watchbags here! Go create one...</h1>
  </div>
  <% } else { %>
  <div class="col-md-10 d-flex flex-wrap justify-content-around">
    <% for( let wb of watchbags ){ %>
    <a
      class="card my-5 mx-5 px-0"
      style="width: 250px; height: 300px"
      href="/mywatchbags/<%=wb._id%>"
    >
      <img
        src="<%=wb.image.url%> "
        class="img-fluid rounded-start"
        style="width: 250px; height: 180px; object-fit: cover"
        alt="..."
      />
      <div>
        <div class="card-body">
          <h3 class="card-title mb-2 text-truncate"><%= wb.name %></h3>
          <p class="text muted"><%=wb.createdOn%></p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
  <% } %>
</div>
