<%- layout('layouts/boilerplate') %>

<div class="d-flex justify-content-center align-items center flex-grow-1">
  <div class="col-md-10">
    <h2 class="my-3" id="heading"><%= watchbag.name %></h2>
    <p class="my-3" id="heading2"><%= watchbag.description %></p>
    <script>
      function allowDrop(ev) {
        ev.preventDefault();
      }

      function drag(ev) {
        console.log(ev);
        console.log(ev.target);
        ev.dataTransfer.setData("text", ev.target.childNodes[1].innerText);
      }

      async function drop_toW(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        let id = "<%- id%>";
        window.location.replace(`/mywatchbags/${id}/dnd/toW/${data}`);
      }

      async function drop_toC(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        let id = "<%- id%>";
        window.location.replace(`/mywatchbags/${id}/dnd/toC/${data}`);
      }

      async function drop_toH(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        let id = "<%- id%>";
        window.location.replace(`/mywatchbags/${id}/dnd/toH/${data}`);
      }

      async function drop_toD(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        let id = "<%- id%>";
        window.location.replace(`/mywatchbags/${id}/dnd/toD/${data}`);
      }
    </script>
    <div class="row">
      <div class="col-md-7">
        <div class="accordion" id="accordionExample">
          <div
            class="accordion-item"
            ondrop="drop_toC(event)"
            ondragover="allowDrop(event)"
          >
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                Currently Watching
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <% for (let s of watchbag.showsCurrent){%>
                <div
                  class="card d-flex flex-row mb-3"
                  style="width: auto; height: 86px"
                  draggable="true"
                  ondragstart="drag(event)"
                >
                  <p hidden><%= s._id %></p>
                  <img
                    src="<%=s.image%> "
                    class="img-fluid rounded-start"
                    style="width: 58px; height: 84px"
                    alt="..."
                  />
                  <div class="card-body d-flex flex-column" style="width: auto">
                    <h5
                      class="card-title text break text-truncate"
                      style="width: auto"
                    >
                      <%=s.name %>
                    </h5>
                    <span
                      class="d-flex flex-wrap text-muted text-truncate"
                      style="width: auto"
                      >Started Watching : <%= s.startedOn%></span
                    >
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
            ondrop="drop_toD(event)"
            ondragover="allowDrop(event)"
          >
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Dropped
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <% for (let s of watchbag.showsDropped){%>
                <div
                  class="card d-flex flex-row mb-3"
                  style="width: auto; height: 86px"
                  draggable="true"
                  ondragstart="drag(event)"
                >
                  <p hidden><%= s._id %></p>
                  <img
                    src="<%=s.image%> "
                    class="img-fluid rounded-start"
                    style="width: 58px; height: 84px"
                    alt="..."
                  />
                  <div class="card-body d-flex flex-column" style="width: auto">
                    <h5
                      class="card-title text break text-truncate"
                      style="width: auto"
                    >
                      <%=s.name %>
                    </h5>
                    <span
                      class="d-flex flex-wrap text-muted text-truncate"
                      style="width: auto"
                      >Started Watching : <%= s.startedOn%></span
                    >
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
            ondrop="drop_toH(event)"
            ondragover="allowDrop(event)"
          >
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                On Hold
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <% for (let s of watchbag.showsOnHold){%>
                <div
                  class="card d-flex flex-row mb-3"
                  style="width: auto; height: 86px"
                  draggable="true"
                  ondragstart="drag(event)"
                >
                  <p hidden><%= s._id %></p>
                  <img
                    src="<%=s.image%> "
                    class="img-fluid rounded-start"
                    style="width: 58px; height: 84px"
                    alt="..."
                  />
                  <div class="card-body d-flex flex-column" style="width: auto">
                    <h5
                      class="card-title text break text-truncate"
                      style="width: auto"
                    >
                      <%=s.name %>
                    </h5>
                    <span
                      class="d-flex flex-wrap text-muted text-truncate"
                      style="width: auto"
                      >Started Watching : <%= s.startedOn%></span
                    >
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <div
            class="accordion-item"
            ondrop="drop_toW(event)"
            ondragover="allowDrop(event)"
          >
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Completed
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <% for (let s of watchbag.showsWatched){%>
                <div
                  class="card d-flex flex-row mb-3"
                  style="width: auto; height: 86px"
                  draggable="true"
                  ondragstart="drag(event)"
                >
                  <p hidden><%= s._id %></p>
                  <img
                    src="<%=s.image%> "
                    class="img-fluid rounded-start"
                    style="width: 58px; height: 84px"
                    alt="..."
                  />
                  <div class="card-body d-flex flex-column" style="width: auto">
                    <h5
                      class="card-title text break text-truncate"
                      style="width: auto"
                    >
                      <%=s.name %>
                    </h5>
                    <span
                      class="d-flex flex-wrap text-muted text-truncate"
                      style="width: auto"
                      >Started Watching : <%= s.startedOn%></span
                    >
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <br />
        <form
          action="/mywatchbags/<%=watchbag._id%>?_method=delete"
          method="post"
        >
          <button class="btn btn-danger">Delete WatchBag</button>
        </form>
        <br />
        <form
          action="/mywatchbags/<%=watchbag._id%>/status?_method=put"
          method="post"
        >
          <% if( watchbag.status == true ){%>
          <button class="btn btn-danger">Make Private</button>
          <% }else{ %>
          <button class="btn btn-success">Make Public</button>
          <% } %>
        </form>
      </div>

      <div class="col-md-4 ms-5">
        <form
          class="form-inline col-md-9 ms-3"
          action="/mywatchbags/<%=watchbag._id%>"
          method="post"
        >
          <div class="input-group mb-3">
            <label class="form-label" for="showname"></label>
            <input
              type="text"
              class="form-control rounded-pill"
              placeholder="Search"
              id="showname"
              name="showname"
            />
            <button type="submit" class="btn btn-danger ms-2 rounded-pill">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>

        <% if( data ){%> <% for( ser of data.Search ){ %>
        <div class="card mb-3" style="width: 400px; height: 100px">
          <div class="row g-0">
            <div class="col-md-2">
              <img
                src="<%= ser.Poster %>"
                class="img-fluid rounded-start"
                style="width: 58px; height: 98px"
                alt="..."
              />
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <p class="card-title"><%= ser.Title %></p>
                <p class="text-muted"><%= ser.Year %></p>
              </div>
            </div>
            <div class="col-md-1">
              <form
                method="post"
                action="/mywatchbags/<%=watchbag._id%>/<%= ser.imdbID %>"
              >
                <button
                  class="btn btn-success"
                  style="width: 50px; height: 50px"
                >
                  +
                </button>
              </form>
            </div>
          </div>
        </div>

        <% } %> <% } %>
      </div>
    </div>
  </div>
</div>
