<% layout('layouts/boilerplate') %>
<div
  class="col-md-10 offset-1 d-flex flex-row justify-content-between flex-wrap"
>
  <% for( ser of data.Search ){ %>
  <a
    class="card mx-5 my-5"
    href="/search/<%= ser.imdbID %>"
    style="width: 400px; height: 179px"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="<%= ser.Poster %>"
          class="img-fluid rounded-start"
          style="width: 120px; height: 177px"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title mb-2 mt-2 text-truncate"><%= ser.Title %></h3>
          <h5><%= ser.Year %></h5>
          <p class="card-text text-muted mt-1"><%= ser.Type %></p>
        </div>
      </div>
    </div>
  </a>
  <% } %>
</div>
