<%- layout( 'layouts/boilerplate' ) %>

<div class="col-md-8 offset-2 flex-grow-1">
  <div class="d-flex flex-row justify-content-around flex-wrap">
    <% for( let wb of watchbags ){ %>
    <a
      class="card mx-5 my-5 px-0"
      style="width: 200px; height: 350px"
      href="/explore/<%=wb._id%>"
    >
      <img
        src="<%=wb.image.url%> "
        class="img-fluid rounded-start"
        style="width: 200px; height: 200px; object-fit: cover"
        alt="..."
      />
      <div>
        <div class="card-body">
          <h3 class="card-title mb-2"><%= wb.name %></h3>
          <p class="text muted">Created By <%=wb.author.username%></p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</div>
